<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		
	</title>

	<link rel="stylesheet" type="text/css" href="sapTestCss.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>


	<h1 class="text-center p-4 mb-4">Welcome to the SAP Test</h1>

	<div class="card text-white  mb-3  text-center " >

		<div class="card-header "> Please read the questions carefully and answer it </div>
			
			<div class="card-body">

				<form>
				
					<h5 class="card-title">Can we run a business warehouse without SAP R/3 implementation and Mention what are the different layers in the R/3 system?</h5>
					<div class="form-group">
					    <label for="answer1"></label>
					    <textarea class="form-control" id="answer1" rows="3" placeholder="Enter your answer here"></textarea>
					</div>
					

					<h5 class="card-title">Mention what is the process to create a table in the data dictionary?</h5>
					<div class="form-group">
						<label for="answer2"></label>
						<textarea class="form-control" id="answer2" rows="3" placeholder="Enter your answer here"></textarea>
					</div>

					<h5 class="card-title">When would you use smart forms in SAP?</h5>
					<div class="form-group">
						<label for="answer3"></label>
						<textarea class="form-control" id="answer3" rows="3" placeholder="Enter your answer here"></textarea>
					</div>

				    <button type="button" class="btn btn-outline-info">Submit</button>

				</form>

			</div>
	</div>

	<!-- <div class="question-box">

  <h2>Questionare</h2>
  <h3>Please read the questions carefully and answer it</h3>
  <form>
    <div class="user-box">
      <p>Can we run a business warehouse without SAP R/3 implementation and Mention what are the different layers in the R/3 system?</p>
    </div>
    
    <div class="user-box">
      <input type="text" name="" required="">
      <label>Answer 1</label>
    </div>
    

    <div class="user-box">
      <p>Mention what is the process to create a table in the data dictionary?</p>
    </div>
    
    <div class="user-box">
      <input type="text" name="" required="">
      <label>Answer 2</label>
    </div>

    <div class="user-box">
      <p> When would you use smart forms in SAP? </p>
    </div>
    
    <div class="user-box">
      <input type="text" name="" required="">
      <label>Answer 3</label>
    </div>

    <div class="user-box">
      <p>Can we run a business warehouse without SAP R/3 implementation and Mention what are the different layers in the R/3 system?</p>
    </div>
    
    <div class="user-box">
      <input type="text" name="" required="">
      <label>Answer 1</label>
    </div>

    <div class="user-box">
      <p>Can we run a business warehouse without SAP R/3 implementation and Mention what are the different layers in the R/3 system?</p>
    </div>
    
    <div class="user-box">
      <input type="text" name="" required="">
      <label>Answer 1</label>
    </div>

    <div class="user-box">
      <p>Can we run a business warehouse without SAP R/3 implementation and Mention what are the different layers in the R/3 system?</p>
    </div>
    
    <div class="user-box">
      <input type="text" name="" required="">
      <label>Answer 1</label>
    </div>

    <a href="#">
      submit
    </a>
     
  </form>
  
</div>
 -->


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script>
	
	const answer1 = "Yes, you can run a business warehouse without R/3 implementation. You have to simply transfer structures associated with business warehouse data sources (ODS table, Infocube) to the inbound data files or use third-party tools to connect your flat files and other data sources.Different layers in the R/3 system includes Presentation Layer Database layer Application layer";
	
	const answer2 = "To create a table in the data dictionary, you have to follow this step.Creating domains (data type, field length, range) . Creating data elements (properties and type for a table field) . Creating tables (SE 11)";
	
	const answer3 = "The SAP smart forms tool is an excellent way to send and print important documents. I use this tool to create forms, emails, PDF files and documents that I plan to share with clients and coworkers online because it makes it easy to create the layout and maintain the logic of forms. It also allows me to make quick updates by using graphical tools instead of having to program changes manually. If I'm collaborating on a project with someone who isn't familiar with programming, this is especially important because the SAP smart tools allow them to enter data easily.There are also several form templates the SAP smart tools provide to streamline processes for sales and distribution (SD), customer relationship management (CRM), human resources (HR) and financial accounting.";

</script>

</body>

</html>