<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test</title>
  </head>
  <body>
    <form action="/test" method="post">

        <h2>Validation portal</h2>

        <p>Answer the following scenario</p>
      <h5></h5>
        You are assigned a new project which involves helping a food delivery company save more money. The problem is, company’s delivery team aren’t able to deliver food on time. As a result, their customers get unhappy. And, to keep them happy, they end up delivering food for free. Which machine learning algorithm can save them?
      </h5>
      <br>
      <textarea name="answer" id="" cols="30" rows="10" placeholder="Enter your answer"></textarea>
      <br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
