<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test</title>
  </head>
  <body>
    <form action="/test" method="post">
      <h5 class="">
        How the Encapsulation is different from Abstraction? I think both are
        used to hide the unnecessary details? Then how they are different?
      </h5>
      <div class="">
        <label for="answer1"></label>
        <textarea
          class="form-control"
          name="answer1"
          rows="3"
          placeholder="Enter your answer here"
        ></textarea>
      </div>

      <h5 class="">
        What is object graph in garbage collector? Is this the graph physically
        exists? Or how this graph gets created?
      </h5>
      <div class="">
        <label for="answer2"></label>
        <textarea
          class="form-control"
          name="answer2"
          rows="3"
          placeholder="Enter your answer here"
        ></textarea>
      </div>

      <h5 class="">
        What is the difference between IIS and Kestrel? Why do we need two web
        servers?
      </h5>
      <div class="">
        <label for="answer3"></label>
        <textarea
          class=""
          name="answer3"
          rows="3"
          placeholder="Enter your answer here"
        ></textarea>
      </div>

      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
