<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS only -->
    <link rel="stylesheet" type="text/css" href="../styles.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>.NET Test - Resume Endrorser</title>
  </head>

  <body>

    <h1 class="text-center p-4"> Automated Resume Endorser </h1>

    <h2 class="text-center p-4 mb-4">Welcome to the .Net Developer Test</h2>

    <div class="card text-white  mb-3  text-center " >

      <div class="card-header "> Please read the questions carefully and answer it </div>
      
        <div class="card-body">

          <form action="/test" method="post">

            <h5 class="card-title">
              How the Encapsulation is different from Abstraction? I think both are
        used to hide the unnecessary details? Then how they are different?
            </h5>
            <div class="form-group">
              <label for="answer1"></label>
              <textarea
                class="form-control"
                name="answer1"
                rows="3"
                placeholder="Enter your answer here"
              ></textarea>
            </div>

            <h5 class="card-title">
               What is object graph in garbage collector? Is this the graph physically
        exists? Or how this graph gets created?
            </h5>
            <div class="form-group">
              <label for="answer2"></label>
              <textarea
                class="form-control"
                name="answer2"
                rows="3"
                placeholder="Enter your answer here"
              ></textarea>
            </div>

            <h5 class="card-title"> What is the difference between IIS and Kestrel? Why do we need two web
        servers?</h5>
            <div class="form-group">
              <label for="answer3"></label>
              <textarea
                class="form-control"
                name="answer3"
                rows="3"
                placeholder="Enter your answer here"
              ></textarea>
            </div>

            <input type="submit" value="Submit" class="btn btn-outline-info"/>
          </form>

        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
  
  </body>
</html>
