<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test</title>
  </head>
  <body>
    <form action="/test" method="post">
      <h5 class="">
        Can we run a business warehouse without SAP R/3 implementation and
        Mention what are the different layers in the R/3 system?
      </h5>
      <div class="">
        <label for="answer1"></label>
        <textarea
          class="form-control"
          name="answer1"
          rows="3"
          placeholder="Enter your answer here"
        ></textarea>
      </div>

      <h5 class="">
        Mention what is the process to create a table in the data dictionary?
      </h5>
      <div class="">
        <label for="answer2"></label>
        <textarea
          class="form-control"
          name="answer2"
          rows="3"
          placeholder="Enter your answer here"
        ></textarea>
      </div>

      <h5 class="">When would you use smart forms in SAP?</h5>
      <div class="">
        <label for="answer3"></label>
        <textarea
          class=""
          name="answer3"
          rows="3"
          placeholder="Enter your answer here"
        ></textarea>
      </div>

      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
